body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background: linear-gradient(to bottom right, #f3c0e8, #e0388f);
  color: #fde2f7;
}

#main-content {
  background-color: rgb(247, 198, 228);
  width: 80%;
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  color: #ffffff;
}

#assignments {
  background-color: #e8bbda;
  padding: 15px 25px;
  border-left: 5px solid #350321;
  border-radius: 10px;
}

#assignments a {
  text-decoration: none;
  color: #340844;
  display: block;
  margin: 10px 0;
  transition: 0.3s ease;
}

#assignments a:hover {
  color: #62024c;
  transform: translateX(5px);
}
