/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* COLOR VARIABLES (USC MATCH) */
:root {
  --usc-black: #000000;
  --usc-garnet: #73000a;
  --usc-gold: #f1c400;
  --usc-white: #ffffff;
}

/* TOP BLACK BAR */
.top-bar {
  background-color: var(--usc-black);
  padding: 1rem 15rem;
}

.top-links {
  display: flex;
  gap: 1.2rem;
}

.top-links a {
  color: var(--usc-white);
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

/* LOGO BAR */
.logo-bar {
  background-color: var(--usc-black);
  color: var(--usc-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 10rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo img {
  width: 550px;
  height: 150px;
}



.site-title {
  font-size: 4rem;
  font-weight: 600;
}

/* GARNET NAV */
.main-nav {
  background-color: var(--usc-garnet);
}

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 5rem;
  padding: 2.5rem 15rem;
}

.main-nav a {
  color: var(--usc-white);
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
}



/* HERO */
.hero {
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SMALL SCREENS */
@media (max-width: 768px) {
  .logo-bar {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .main-nav ul {
    justify-content: center;
    flex-wrap: wrap;
  }

  .site-title {
    font-size: 1.4rem;
  }
}

