body {
  background-color: #f0faff;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
}

h1, h2 {
  color: #00c2cb;
}

img {
  width: 300px;
  height: auto;
  margin: 10px 20px 20px 0;
  border-radius: 8px;
}

ul {
  background-color: #e6faff;
  padding: 10px 20px;
  border-left: 5px solid #00c2cb;
  list-style-type: disc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
}

table, th, td {
  border: 1px solid #00c2cb;
}

th, td {
  padding: 10px;
  text-align: left;
}

a {
  color: #00c2cb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #009fa7;
}
