.hotdog-card {
  position: relative;
  cursor: pointer;
}

.hotdog-image {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
  padding: 10px;
}

.hotdog-card:hover .overlay {
  opacity: 1;
}
