:root {
  --cream: #f8e9e3;
  --black: #000000;
  --white: #ffffff;
  --gold: #b89b5e;
  --pastel-pink: #ffeaea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black);
}

/* NAV */
/* NAV WRAPPER */
.nav-wrapper {
  width: 100%;
}

/* TOP NAV */
.nav-top {
  background: var(--pastel-pink);
  padding: 20px 0;
  text-align: center;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.logo span {
  font-size: 12px;
  font-weight: normal;
}

/* BOTTOM NAV */
.nav-bottom {
  background: var(--white);
  border-top: 1px solid rgba(248, 233, 71, 0.255);
  padding: 30px 0;
}
.nav-bottom-inner {
  max-width: 1200px;
  margin: 0 auto;
}
.links {
  display: flex;
  justify-content: center;
  gap: 400px;
}

.links a {
  text-decoration: none;
  font-size: 100px;
  color: var(--gold);
  letter-spacing: 5px;
  font-weight: bold;
}



.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  height: 60px;
  width: auto;
}
.logo img {
  height: 100px; /* smaller */
}
.logo img {
  height: 70px; /* larger */
}


.links a {
  margin-left: 30px;
  text-decoration: none;
  font-size: 14px;
  color: var(--black);
}

/* HERO */
.hero {
  position: relative;
  width: 100%;
  height: 70vh;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.35);
  text-align: center;
  padding: 40px;
}

.hero-overlay h1 {
  max-width: 700px;
  font-size: 70px;
  margin-bottom: 10px;
}

.hero-overlay p {
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.hero-overlay button {
  padding: 12px 30px;
  background: var(--black);
  color: var(--white);
  border: none;
  cursor: pointer;
}

/* COLLECTIONS */
.collections {
  padding: 70px 60px;
  text-align: center;
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 40px;
}

.collection-card img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.collection-card h3 {
  margin-top: 15px;
  font-size: 16px;
}

.collection-card span {
  font-size: 13px;
}

/* SELL */
.sell {
  background: var(--black);
  color: var(--white);
  padding: 80px 60px;
  text-align: center;
}

.sell-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.sell-box {
  background: var(--white);
  height: 580px;
  overflow: hidden;
}

.sell-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* FOOTER */
.footer {
  background: var(--pastel-pink);
  padding: 50px 0;
  text-align: center;
  margin-top: 80px;
}

.footer p {
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--black);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .collection-grid,
  .sell-grid {
    grid-template-columns: 1fr;
  }

  .links {
    display: none;
  }
}

